html, body{ height:100%; margin:0; }
body{ 
 	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
  	flex-direction:column; 
}
/*START CSS RESET*/
button:focus{
	outline: none;
}
.space-right{
	margin-right: 10px;
}
.space-left{
	margin-left: 10px;
}
.btn-transparent{
	background: none;
	border:none;
}
.advance-setting:after{
	content:'';
	display: table;
	clear: both;
	height: 0px;
	visibility: hidden;
}

.logo-img img{
	max-width: 100px;
}
.float-layout{
	float:left;
}
.float-right{
	float:right;
}
/*END CSS RESET*/
/*CSS Header*/
#header{
	padding: 10px 0px;
}
.switch-language{
	display: inline-block;
	width: auto;
}
/*END CSS Header*/
/*START CSS Footer*/
footer{
  margin-top:auto; 
}
.right-footer ul li a{
	margin-left: 10px;
}
/*END CSS Footer*/